{% extends "base.html" %}

{%block title%}Admin{%endblock%}

{% block obsah %}
<h1>Vzkazy</h1>
<form method="post">
    <p>
        <h2>Vložit vzkaz</h2>
        <textarea name="vzkaz" id="?" cols="80" rows="7"></textarea>
    </p>
    <button type="submit">Odeslat</button>
    <button type="submit">Vymazat</button>
</form>

<h2>Nástěnka</h2>

{% for login, body, datetime, id in response %}
    <div class="vzkaz">
        <p class="hlava"> Jméno uživatele: <strong>{{login}}</strong> Datum: {{d.fromisoformat(datetime).strftime('%d.%_m.%Y %H:%M')}} </p><pre class="telo"> Zpráva: {{body}}</pre>
    {% if session['user'] == login  %}
        
        <form action="">
            <input type="hidden" name="Id", value="{{id}}">
            <button type="submit">Vymazat</button>
        </form>
    {% endif %}
    </div>

{% endfor %}


{% endblock obsah %}





