{% extends 'base.html' %}

{%block title%}Hamburger{%endblock%}

{% block obsah %}

<h2>Bude potřeba:</h2>
<p>hovězí maso mleté 800 g</p>
<p>nahrubo, vychlazené</p>
<p>cibule ½ ks</p>
<p>česnek ½ stroužku drcený</p>
<p>petrželka 1 PL</p>
<p>hořčice dijonská ½ ČL</p>
<p>worchestrová omáčka 2 ČL</p>
<p>žloutek 1 ks</p>
<p>sůl mořská</p>
<p>pepř</p>
<p>olivový olej 1 PL</p>
<h4>Na dokončení: </h4>
<p>hamburgerová bulka 4 ks</p>
<p>čedar 4 plátky</p>
<p>okurky nakládané 4 ks</p>
<p>majonéza 2 PL</p>
<p>hořčice dijonská 2 ČL</p>
<p>cibule 1 ks</p>
<p>hlávkový salát</p>
<p>BBQ omáčka</p>

<h2>Příprava:</h2>
<h4>1:</h4>
<p>Dejte přísady na burger do mísy, osolte, opepřete a promíchejte. Zlehka zformujte 4 burgery, do každého udělejte uprostřed palcem prohlubeň, aby se při pečení moc nevyboulil. Odložte do ledničky a mezitím připravte barbecue omáčku, pokud nepoužijete kupovanou.</p>
<h4>2:</h4>
<p>Rozehřejte gril nebo grilovací pánev. Burgery potřete tence olejem a grilujte asi 4 minuty po každé straně, až budou pěkně dohněda opečené, ale stále ještě růžové uprostřed. Na poslední minutu na ně položte plátky sýra.</p>
<h4>3:</h4>
<p>Opečte vnitřní stranu housek. Smíchejte majonézu s hořčicí a potřete jí spodní díl housky. Na něj položte list salátu a burger. Ozdobte okurkami a cibulí a pokapejte barbecue omáčkou. Přiklopte a pusťte se do jídla!</p>
<h4>bonus</h4>
<p>Barbecue omáčka se dá běžně koupit, ale domácí se nic nevyrovná.
V rendlíku na lžíci olivového oleje opékejte 1 cibuli a 2 stroužky česneku nakrájené nadrobno spolu se špetkou drcené chilli papričky asi 3 minuty dosklovita. Přidejte 400g konzervu krájených rajčat, 80 g tmavého třtinového cukru, 2 lžíce jablečného octa, 2 lžíce worcesterské omáčky a 1 lžíci hustého rajského protlaku a nechte na nízkém plameni bublat asi půl hodiny do zhoustnutí. Rozmixujte, případně dosolte a nechte vychladnout.</p>

<img src="{{ url_for('static', filename= 'hamburger.png')}}" alt="", class="jidlo">
{% endblock obsah %}