{% extends "base.html" %}

{%block title%}Kari{%endblock%}

{% block obsah %}
<h2>Bude potřeba:</h2>
<p>1 hrnek dlouhozrnná rýže</p>
<p>2 hrnce vody</p>
<p>1 lžíce olej</p>
<p>1 lžička kari</p>
<p>sůl</p>

<h2>Příprava:</h2>
<p>Na rozpáleném oleji orestujeme propláchnutou a okapanou rýži. Až zbělá, vmícháme do ní kari, zalijeme vodou, osolíme, přikryjeme pokličkou a 5 minut necháme vařit. Pak celý hrnec s rýží zabalíme do čistého ručníku nebo deky, uložíme do postele, dobře přikryjeme a necháme dojít.</p>


<img src="{{ url_for('static', filename= 'kari.png')}}" alt="", class="jidlo">



{% endblock obsah %}