{% extends 'base.html' %}

{%block title%}Lazane{%endblock%}

{% block obsah %}


<h2>Bude potřeba:</h2>
<p>2 ks cibule</p>
<p>1 lžíce sůl</p>
<p>3 stroužek česnek</p>
<p>4 lžíce hladká mouka</p>
<p>3 lžíce rostlinný olej</p>
<p>0,50 l mléko</p>
<p>2 hrst tvrdý sýr</p>
<p>2 lžíce grilovací koření</p>
<p>1 balení lasagne</p>
<p>1 lžička provensálské koření</p>
<p>0,50 kg mleté maso - míchané</p>
<p>1 plechovka nakládaná loupaná rajčata</p>

<h2>Příprava:</h2>
<h4>1:</h4>
<p>Na pánev dáme najemno nakrájenou cibuli a česnek, osmahneme na oleji. Po zesklovatění cibule přidáme mleté maso a orestujeme. Poté přidáme rajčata z plechovky, koření, sůl a dusíme pod pokličkou cca 20 minut.</p>
<h4>2:</h4>
<p>Do hrnce nalejeme mléko, přisypeme hladkou mouku a za stálého míchání přivedeme do varu. Umícháme hustou bešamelovou omáčku.</p>
<h4>3:</h4>
<p>Nachystáme si lasagne (ideálně ty, které se nemusí dopředu uvařit). Do zapékací mísy klademe jednotlivé vrstvy takto - bešamel na dno, poté vrstvu těstovin, na ni mleté maso, bešamel, těstoviny. Poslední vrstvu tvoří bešamel posypaný tvrdým sýrem.</p>
<h4>4:</h4>
<p>Zapékací mísu přiklopíme a dáme do vyhřáté truby. Pečeme 25 minut na 180 °C, poté odklopíme a pečeme cca 15 minut - do zapečení vrchní vrstvy sýra.</p>

<img src="{{ url_for('static', filename= 'lazane.png')}}" alt="", class="jidlo">








{% endblock obsah %}